html,
body {
    height: 100%;
}

body {
    display: grid;
    grid: auto-flow 5em / 5em 5em 5em 5em;
    align-content: center;
    justify-content: center;
}

#special-one {
    justify-self: center;
}