body {
  display: grid;
  grid: auto-flow min-content / repeat(12, 1fr);
  grid-gap: 1em 1em;
  margin: 1em;
}

header, footer {
  grid-column-start: 1;
  grid-column-end: 13;
}

main{
  grid-column-start: 5;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end:4;
}

aside, nav{
  grid-column-start: 1;
  grid-column-end: 5;
}

.gallery {
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end:8;
  
  display: grid;
  grid-gap: 1em 1em;
  grid-template-columns: repeat(4, 1fr);
}
.gallery img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

footer {
  grid-row-start: 8;
}